##############
# Izstrādes vides / Development environments
##############
.vscode/
.idea/
node_modules/
dist/
build/

##############
# Operētājsistēmas / OS-specific
##############
.DS_Store       # macOS
Thumbs.db       # Windows

##############
# Attēli / Images
##############
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.psd
*.ico
*.webp

##############
# Arhīvi / Archives
##############
*.zip
*.tar
*.gz
*.gzip
*.bz2
*.xz
*.7z
*.rar
*.tgz
*.zst

##############
# Audio
##############
*.aif
*.cda
*.mid
*.midi
*.mp3
*.mpa
*.ogg
*.wav
*.wma
*.wpl

##############
# Dokumenti / Documents
##############
*.doc
*.docx
*.odt
*.pdf
*.rtf
*.tex
*.wpd
*.xls
*.xlsx
*.ppt
*.pptx

##############
# Kompilēti faili / Compiled files
##############
*.class
*.pyc
*.o
*.out
*.exe
*.dll
*.so

##############
# Pagaidu faili / Temporary files
##############
*.log
*.bak
*~
*.swp

##############
# Cits / Other
##############
.env
.env.local
.env.*.local